:root {
  --dark-blue: hsl(209, 23%, 22%);
  --v-dark-blue-d-m: hsl(207, 26%, 17%);
  --v-dark-blue-l-m-t: hsl(200, 15%, 8%);
  --dark-gray-l-m-in: hsl(0, 0%, 52%);
  --v-light-gray-l-m-bg: hsl(0, 0%, 98%);
  --white-d-m-t: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--v-dark-blue-l-m-t);
  transition: all 0.7s;
}
body {
  font-family: "Nunito Sans";
  background-color: var(--v-light-gray-l-m-bg);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture,
.container {
  max-width: 100%;
}
button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 575px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.box-r-sh {
  padding: 13px 20px;
  border-radius: 3px;
  box-shadow: 0 0 7px 0px #00000042;
}
/* Start-header */
header {
  background-color: var(--white-d-m-t);
  box-shadow: 0 0 7px 0px #00000042;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
header .where-in-world {
  font-size: 18px;
}
header .container .them-mode {
  cursor: pointer;
}
.container .them-mode .m-icon {
  width: 20px;
  margin-bottom: -3px;
  background-color: #fff;
  border-radius: 50%;
}
header .container .dark-light {
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}
nav {
  padding: 20px 0;
  margin-bottom: 20px;
}
nav .container .input-search-icon {
  background-color: var(--white-d-m-t);
}
nav .container .input-search-icon input {
  background-color: var(--white-d-m-t);
  color: var(--v-dark-blue-l-m-t);
}
nav .container .input-search-icon .s-icon {
  margin-right: 15px;
  width: 20px;
}
nav .container .filter-select .label {
  width: 60%;
  background-color: var(--white-d-m-t);
  margin-top: 20px;
}
nav .container .filter-select select {
  margin: 5px 0;
  border: none;
  outline: none;
  width: 60%;
  background-color: var(--white-d-m-t);
  color: var(--v-dark-blue-l-m-t);
}
nav .container .filter-select select option {
  outline: none;
}
@media (min-width: 768px) {
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }
  nav .container .input-search-icon {
    width: 450px;
  }
  nav .container .filter-select {
    width: 180px;
  }
  nav .container .filter-select .label {
    width: 100%;
    margin-top: 0;
  }
  nav .container .filter-select select {
    margin-top: 5px;
    width: 100%;
  }
}
.main-content .container .country-rapper {
  width: fit-content;
  margin: 10px auto;
  margin-bottom: 40px;
  box-shadow: 0 0 7px 0px #00000042;
  border-radius: 4px;
  background-color: var(--white-d-m-t);
}
.main-content .container .country-rapper .flag {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 50%;
  background-position: cover;
  cursor: pointer;
}
.country-rapper .country-info {
  background-color: var(--white-d-m-t);
  padding: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.country-rapper .country-info .cn-name {
  font-weight: 800;
  padding-bottom: 15px;
  font-size: 20px;
}
.country-rapper .country-info .cn-population {
  font-size: 16px;
}
.country-rapper .country-info .cn-region {
  font-size: 16px;
  padding: 10px 0;
}
.country-rapper .country-info .cn-capital {
  font-size: 16px;
  padding-bottom: 15px;
}
.cn-population span,
.cn-region span,
.cn-capital span {
  color: var(--dark-gray-l-m-in);
}
@media (min-width: 768px) {
  .main-content .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .main-content .container .country-rapper {
    width: 240px;
  }
}

.main-content .coutry-detail {
  margin: 30px auto;
}
.main-content .coutry-detail .image img {
  height: 100%;
  width: 550px;
  background-position: cover;
}
.main-content .coutry-detail #back-btn {
  background-color: var(--white-d-m-t);
  padding: 7px 23px;
  border-radius: 4px;
  margin-bottom: 40px;
  box-shadow: 0 0 7px 0px #00000042;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.main-content .coutry-detail #back-btn img {
  width: 22px;
  margin-right: 10px;
}
.main-content .coutry-detail .details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 100%;
}
.main-content .coutry-detail .info {
  display: grid;
  grid-template-columns: 48% 48%;
  align-content: space-evenly;
  grid-template-areas: "one two" "three three";
  align-items: center;
  grid-template-rows: 80% 20%;
  column-gap: 30px;
}
@media (min-width: 768px) {
  .main-content .coutry-detail .info {
    column-gap: 50px;
  }
}
.main-content .coutry-detail .info .right-info h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
.coutry-detail .info .right-info h3,
.info-rest h3 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.coutry-detail .info .right-info h3 span,
.info-rest h3 span {
  font-size: 12px;
}

.main-content .coutry-detail .info .info-rest {
  align-self: center;
}

.main-content .coutry-detail .info .border {
  grid-area: three;
}
.main-content .coutry-detail .info .border h3 span {
  font-size: 12px;
  padding: 2px 20px;
  background-color: var(--white-d-m-t);
  border-radius: 4px;
  margin-left: 10px;
  box-shadow: 0 0 7px 0px #00000042;
}
.loading {
  margin: 60px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loading img {
  animation: rotation 2s infinite linear;
  background-color: transparent;
  margin-bottom: 30px;
  width: 100px;
}
.loading h3 {
  position: relative;
}
@keyframes rotation {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
